body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: rgba(23,22,5,255) 
}

canvas {
    background-color: rgba(23,22,5,255);
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}
