body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: rgba(24,21,38,255); 
}

canvas {
    background-color: black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
}
